body{
    background: url("../assets/bg.jpeg") no-repeat center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.headerDark{
    background-color: black;
    border: none;
    border-radius: 5px;
    
}
.headerLight{
    background-color: rgb(1, 180, 180);
    border: none;
}